.library {
  width: calc(100vw - 3.5rem);
  min-height: 112vw;
  background-image: url('../../assets/images/bookshelf.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1.5rem 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 3rem;
  justify-content: center;

}