.CTA__button {
  background-color: rgb(79, 79, 167);
  color: white;
  height: 2.5rem;
  min-width: 100%;
  border: 0;
  border-radius: 0.25rem;
  padding: 0;
}
.CTA__button:hover {
  background-color: darkblue;
}
