.CTA__button {
  background-color: #f3cd49;
  color: white;
  height: 2.5rem;
  min-width: 100%;
  border: 0;
  border-radius: 0.25rem;
  padding: 0;
}
.CTA__button:hover {
  background-color: darkgoldenrod;
}
